In [3]:
import sqlite3
import pandas as pd
db_path = 'databases/gboard_clipboard.db'

# 데이터베이스 연결
conn = sqlite3.connect(db_path)

# 커서 생성 및 쿼리 실행
query = """
    SELECT 
        _id, 
        strftime('%Y-%m-%d %H:%M:%S', datetime(timestamp / 1000, 'unixepoch', 'localtime')) AS formatted_time_stamp,
        text, 
        html_text, 
        item_type, 
        entity_type,
        uri
    FROM clips
    ORDER BY timestamp
"""
cur = conn.cursor()
cur.execute(query)

# 결과를 DataFrame으로 변환
rows = cur.fetchall()
cols = [column[0] for column in cur.description]
clip_table_df = pd.DataFrame.from_records(data=rows, columns=cols)

# 데이터베이스 연결 종료
conn.close()

In [4]:
clip_table_df

,_id,formatted_time_stamp,text,html_text,item_type,entity_type,uri
0,1698741477736,2023-10-31 17:37:57,"Use the edit icon to pin, add or delete clips.",None,6,0,
1,1698741477737,2023-10-31 17:37:57,Touch and hold a clip to pin it. Unpinned clip...,None,10,0,
2,1698741477738,2023-10-31 17:37:57,Tap on a clip to paste it in the text box.,None,18,0,
3,1698741477739,2023-10-31 17:37:57,"Welcome to Gboard clipboard, any text you copy...",None,34,0,
4,1699610300718,2023-11-10 18:58:20,Android eraser~~,,0,0,
...,...,...,...,...,...,...,...
120,1699776236647,2023-11-12 17:03:56,13311392728,,0,3,
121,1699776236657,2023-11-12 17:03:56,fca0c633-0efb-467c-9d2f-30520bed4a56,,0,0,
122,1699776236661,2023-11-12 17:03:56,be9770f5-d8e0-4a5f-baab-1b5c24e54bdf,,0,0,
123,1699776236668,2023-11-12 17:03:56,e4c2bb47-2166-4f3c-9ab2-2d25e4796afd,,0,0,
124,1699776236672,2023-11-12 17:03:56,6756ae05-95eb-4f10-9358-2c0d85f983f2,,0,0,

In [8]:
filtered_df_1 = clip_table_df[clip_table_df['uri'] !='']

In [9]:
filtered_df_1

,_id,formatted_time_stamp,text,html_text,item_type,entity_type,uri
6,1699610369896,2023-11-10 18:59:29,,,0,0,content://com.google.android.inputmethod.latin...
7,1699766177392,2023-11-12 14:16:17,,,0,0,content://com.google.android.inputmethod.latin...